<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card card-body bg-secondary p-4 text-withe">
        <h2>Update this task </h2>
        <form action="/task/{{task._id}}/edit" method="POST">
          <input
            type="text"
            name="title"
            placeholder="Title"
            value="{{task.title}}"
            class="form-control mb-2"
          />

          <textarea
            name="description"
            id=""
            rows="3"
            placeholder="Description"
            class="form-control mb-2"
          >{{task.description}}</textarea>

          <button class="btn btn-success form-control">
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
</div>